<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Posts" %>

  

  <div id="posts" class="flex flex-col items-start min-w-full ">
    <% @posts.each do |post| %>
      <%= link_to post.title, post, class:"mb-4" %>
      
    <% end %>
  </div>

  <div class="flex justify-between items-center mt-8">
    <%= link_to "Add a post", new_post_path, class: "rounded-full py-2 px-4 bg-blue-600 text-white" %>
  </div>

</div>
